In [1]:
import pandas as pd
df=pd.read_csv("ML data.csv")
df.head()

   Unnamed: 0  age  height  weight  gender likeness
0           0   27     170      76       1  Biryani
1           1   41     165      70       1  Biryani
2           2   29     171      80       1  Biryani
3           3   27     173     102       1  Biryani
4           4   29     164      67       1  Biryani

In [2]:
df['gender']=df['gender'].replace("Male",1)
df['gender']=df['gender'].replace("Female",0)
df.head()

   Unnamed: 0  age  height  weight  gender likeness
0           0   27     170      76       1  Biryani
1           1   41     165      70       1  Biryani
2           2   29     171      80       1  Biryani
3           3   27     173     102       1  Biryani
4           4   29     164      67       1  Biryani

In [4]:
X=df[['age','height','weight','gender']]
y=df['likeness']

In [5]:
X.head()

   age  height  weight  gender
0   27     170      76       1
1   41     165      70       1
2   29     171      80       1
3   27     173     102       1
4   29     164      67       1

In [6]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [10]:
from sklearn.neighbors import KNeighborsClassifier
# creating model
model = KNeighborsClassifier(n_neighbors=8) # n_neighbors=5 means 5 neigbours
# Fitting model
model.fit(X,y)
# Predicting values
predicted = model.predict([[19,176,50,1]])
predicted

C:\Users\Arslan\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
# Spliting data into(80/20)
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size=1/5)
# creating and fitting model 
model=KNeighborsClassifier(8).fit(X_train,y_train)
# Measuring score
predicted_value=model.predict(X_test)
score=accuracy_score(y_test , predicted_value)
print("The accuracy score of model is=" , score)

The accuracy score of model is= 0.7551020408163265

- The F-score, also called the F1-score, is a measure of a model’s accuracy on a dataset. It is used to evaluate binary            
classification systems, which classify examples into ‘positive’ or ‘negative’.