In [36]:
import pandas as pd
import seaborn as sns
import numpy as np
df=sns.load_dataset("iris")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [37]:
df["species"]=df["species"].replace("setosa",1)
df["species"]=df["species"].replace("versicolor",2)
df["species"]=df["species"].replace("virginica",3)
df["species"]=df["species"].astype("int64")
# df["sepal_length"]=df["sepal_length"].astype("int64")
# df["sepal_width"]=df["sepal_width"].astype("int64")
# df["petal_length"]=df["petal_length"].astype("int64")
# df["petal_width"]=df["petal_width"].astype("int64")
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species           int64
dtype: object

In [38]:
# import matplotlib.pyplot as plt
# from sklearn.tree import DecisionTreeClassifier
X=df.loc[:,['sepal_length','sepal_width','petal_length','petal_width']]
y=df.loc[:,['species']]
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [39]:
y.head()

   species
0        1
1        1
2        1
3        1
4        1

In [40]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=100) # 100 means 100 trees building before voting
model.fit(X , y)
model.predict([[2,6,7,5]])

C:\Users\Arslan\AppData\Local\Temp/ipykernel_10180/1859133786.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X , y)
C:\Users\Arslan\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([3.])

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size=1/5)
model = RandomForestRegressor().fit(X_train , y_train)
prediction = model.predict(X_test)
prediction

C:\Users\Arslan\AppData\Local\Temp/ipykernel_10180/1072301998.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = RandomForestRegressor().fit(X_train , y_train)

array([2.52, 1.  , 2.  , 1.  , 1.  , 2.  , 2.  , 2.  , 1.  , 1.  , 2.  ,
       2.  , 2.  , 1.  , 3.  , 2.13, 2.  , 1.  , 2.1 , 3.  , 2.  , 3.  ,
       3.  , 1.  , 3.  , 3.  , 3.  , 2.13, 2.  , 1.  ])

In [42]:
score = model.score(X_test , y_test)
print("Accuracy score=",score)

Accuracy score= 0.8714328859060403