# Python ka chilla with Baba_Ammar
## How to use Jupiter notebook
### Basics of python 
**01- My first program**

In [1]:
#My first program in python
print(2+3)
print("Hello World")
print("We are learning python with sir Ammar")

5
Hello World
We are learning python with sir Ammar

**02_Operators**

In [2]:
print(2+3)
print(3-2)
print(6/2)
print(2*3)
print(13%2)
print(6//2)
print(2**3)

print(4**2//3+2-1/4*5) #PEMDAS Paranthesis Exponense Multiply Divide Addition Subtracion

5
1
3.0
6
1
3
8
5.75

 *PEMDAS Paranthesis Exponense Multiply Divide Addition Subtracion*

**03_Strings**

In [3]:
print("Hello World")
print("We are learning python with sir Ammar")

print('Test for single quotes')
print("Test for double quotes")
print('''Test for triple quotes''')
print("  what's up  ?") #If we'll use spaces in stings this will change o/p but outside will not
print(   "what's up"    ) #o/p same

Hello World
We are learning python with sir Ammar
Test for single quotes
Test for double quotes
Test for triple quotes
  what's up  ?
what's up

*If we'll use spaces in stings this will change o/p but outside will not*

*o/p same*

**04_Comments**

In [4]:
print("How are you?") #Press (ctrl+/) to comment
print("My self Muhammad Arslan Ahmad.")  #To print your name
print(2+6) #Addition operator

How are you?
My self Muhammad Arslan Ahmad.
8

*Press (ctrl+/) to comment*

*To print your name*

*Addition operator*

**05_Variables**

# Rules to assign variables

1- The variable should contain letter, number or underscores

2- Do not start with numbers

3- Spaces are not allowed

4- Do not use keywords used in function (break, mean, media, test etc)

5- Short and descriptive

6- Case sensitivity (Lower case letter, Upper case letter always use lower case letter)

In [5]:
# Variables: objects containing specific values
x=5 # Numberi Variable or integer variable
print(x)

y="We are learning python with Ammar Sir" # String variable
print(y)  

x=x+10 # Or x=15
print(x)

# Types/Class of variable
print(type(x))
print(type(y))

# Rules to assign variables
# 1- The variable should contain letter, number or underscores
# 2- Do not start with numbers
# 3- Spaces are not allowed
# 4- Do not use keywords used in function (break, mean, media, test etc)
# 5- Short and descriptive
# 6- Case sensitivity (Lower case letter, Upper case letter always use lower case letter)

fruit_basket="Mangoes"
#del fruit_basket # To delete something
print(fruit_basket)
print(type(fruit_basket))

5
We are learning python with Ammar Sir
15
<class 'int'>
<class 'str'>
Mangoes
<class 'str'>

**06_Input_variables**

In [6]:
fruit_basket="Mangoes"
print(fruit_basket)

#Input functions simple
fruit_basket=input("Which is fruit your favourite fruit? ")
print(fruit_basket)

#Input functions stage 2
name=input("What is your name?")
greetings="Hello!"
print(greetings,name)

#Input functions stage 3
name=input("What is your name? ")
age=input("How old are you?")
greetings="Hello!"
print(greetings,name,"You are still young.")

Mangoes
Which is fruit your favourite fruit? Apple
Apple
What is your name?Arslan
Hello! Arslan
What is your name? Arslan
How old are you?18
Hello! Arslan You are still young.

*Input functions simple*

*Input functions stage 2*

*Input functions stage 3*

**07_Logical_Operators**

## Logical operstors are either true or false
1-equal to                      ==

2-not equal to                  !=

3-less than                     >

4-greater than                  >  

5-less than and equal to        <=

6-greater than and equal to     >=

In [7]:

print(4==4)
print(4!=4)
print(4>3)
print(3<4)
print(3<=5)
print(5>=3)

# Applications of logical operators
x_age=4
school_age_requirement=5
print(x_age==school_age_requirement)

# input function and logical operator

school_age_requirement=5
x_age=input("What is your age=" ) #input function
x_age=int(x_age) # to convert string to integer
print(type(x_age))
print(x_age==school_age_requirement) # logical operator

True
False
True
True
True
True
False
What is your age=18
<class 'int'>
False

**08_Type_Conversion**

In [8]:
x=10            #Integer
y=10.5          #Float
z="Hello"       #STring

#Implicit type conversion
x=x*y
print(x, "Type of x is: " ,type(x))

#exlicit tye conversion
age=input("What is your age? ") #this age will be string not integer
age=int(age) #this will be integer
print(age, type(age))

#Name
name=input("What is your name? ")
print(name, type(str(name)))

105.0 Type of x is:  <class 'float'>
What is your age? 18
18 <class 'int'>
What is your name? Arslan
Arslan <class 'str'>

**09_If_Else_Elif**

In [9]:
required_age_at_school=5
x_age=input("Tell your age: ")
x_age=int(x_age)
#Question: can x goto school?
if x_age==required_age_at_school:
    print("Cngratulations! x can join the school")
elif (x_age>required_age_at_school):
    print("x should join higher secondary school")
else:
    print("x cannot join the school")

Tell your age: 18
x should join higher secondary school

**10_Defining_Functions**

In [10]:
# Define function 
#1 way
def print_my_name():
    print("Arslan Ahmad")

print_my_name()

# 2 way 
def print_my_name():
    text="Muhammad Arslan Ahmad"
    print(text)

print_my_name()

# 3 way
def print_my_name(text):
    print(text)
print_my_name("Muhammad Arsla Ahmad")

# 4 way 
#  Defining a function with if elif and else statements
def school_age_calculator(age):
    if age==5:
        print("X can join the school")
    else:
        print("X cannot join the school")
school_age_calculator(5)

# Defining a function of future age 
def future_age(age):
    new_age=age+20
    return(new_age)
print(future_age(18))

Arslan Ahmad
Muhammad Arslan Ahmad
Muhammad Arsla Ahmad
X can join the school
38

**11_Loops**

In [11]:
# while and for loops

#while loops
x=0
while (x<5):
    print(x)
    x=x+1

#for loops

for x in range(5,10):
    print(x)

# arrays
days=["Mon","Tues","Wed","Thurs","Fri","Sat","Sun"]
for i in (days):
    # if (i=="Fri"):break # break stops the loop
    if (i=="Fri"):continue # continue skips i
    print(i)

0
1
2
3
4
5
6
7
8
9
Mon
Tues
Wed
Thurs
Sat
Sun

**12_Import_Libraries**

In [12]:
# if you want to print value of pi

import math
print("The value of pi is ",math.pi)

# Library for mean,median etc
import statistics
x=[150,250,350,450]
print(statistics.mean(x))

The value of pi is  3.141592653589793
300

**13_Trouble_Shooting**

In [13]:
# print(we are learning python with sir Ammar) #syntax error

#print(25/0) #runtime error

name="Arslan"
#print("Hello name") #Symantic error

print("Hello ",name) #Correct

Hello  Arslan