### Install libraries

- Use pip if you are uisng windows
- Use pip3 if you are using macOS

In [2]:
#pip install numpy
#pip install pandas
#pip install scikit-learn

### Import Libraries

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

### Load Dataset
- It is better to keep the dataset in the same folder in which you have your notebook, otherwise you have to enter the complete path

In [4]:
# load dataset
df = pd.read_csv("ML data.csv")
df.head()

    age   height  weight gender likeness
0  27.0  170.688    76.0   Male  Biryani
1  41.0  165.000    70.0   Male  Biryani
2  29.0  171.000    80.0   Male  Biryani
3  27.0  173.000   102.0   Male  Biryani
4  29.0  164.000    67.0   Male  Biryani

In [5]:
# Take relevant data
workshop_data = df[["age","weight","height"]]
workshop_data.head()

    age  weight   height
0  27.0    76.0  170.688
1  41.0    70.0  165.000
2  29.0    80.0  171.000
3  27.0   102.0  173.000
4  29.0    67.0  164.000

In [6]:
# X = workshop_data.iloc[:, :1].values #get a copy of dataset exclude last column
# y = workshop_data.iloc[:, 1].values #get array of dataset in column 1st
X = workshop_data.loc[:,['age','height']] # Two columns of data on which we will predict our value
y=workshop_data.loc[:,"weight"] # Our output
X.head()
# y

    age   height
0  27.0  170.688
1  41.0  165.000
2  29.0  171.000
3  27.0  173.000
4  29.0  164.000

In [7]:
X

      age   height
0    27.0  170.688
1    41.0  165.000
2    29.0  171.000
3    27.0  173.000
4    29.0  164.000
..    ...      ...
240  31.0  160.000
241  26.0  172.000
242  40.0  150.000
243  25.0  170.000
244  33.0  157.000

[245 rows x 2 columns]

In [8]:
# train test split is used to store testing data 
# test_size is used to seperate that much % data for testing in our case 20% data is for testing and 80% data is for training,
# of model
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1/5, random_state=0)
# X_train are our input values for training of model
# X_test will be our input values for testing of model
# y_train will be our output values for training of model
# y_test will be our output values for testing of model
X_test.head()

      age  height
92   24.0   173.0
238  22.0   160.0
73   25.3   173.3
55   30.0   180.0
181  50.0   188.0

In [9]:
# Fitting Simple Linear Regression to the Training set
# Linear regression gives us continous value (Means linear regression is used for numeric variables)
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train) # fit function is used to do all the mathematical steps behind the scene 
                                # Alos this function shows that our model has been trained

LinearRegression()

In [10]:
# Predicting the Test set results
y_pred = regressor.predict([[30.0,180.0]])
y_pred

C:\Users\Arslan\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([72.09056742])

In [11]:
y_pred=regressor.predict(X_test)
y_pred

array([67.28482279, 65.47123328, 68.30192332, 72.09056742, 87.80543391,
       71.19369492, 69.49917239, 68.01658908, 69.44956114, 72.38344257,
       75.10256704, 69.50909463, 68.26107329, 77.98557743, 75.13233379,
       69.70787724, 75.97562615, 70.39604489, 68.2015398 , 75.6620831 ,
       73.45765575, 82.49762351, 72.34055871, 69.30072742, 79.74360235,
       71.35245089, 68.60825323, 73.66602297, 68.4832329 , 75.84068357,
       72.06080068, 67.02289518, 70.41588939, 72.10561961, 66.21733699,
       67.59754244, 60.26433354, 67.96340583, 65.68952275, 68.67354162,
       67.40388977, 71.49523251, 70.49526738, 78.63439372, 69.55870588,
       61.02626347, 67.61612713, 61.62943742, 71.06748392])

In [ ]:

# Visualizing the Training set results
viz_train = plt
viz_train.scatter(X_train, y_train, color='red')
viz_train.plot(X_train, regressor.predict(X_train), color='blue')
viz_train.title('Salary VS Experience (Training set)')
viz_train.xlabel('Year of Experience')
viz_train.ylabel('Salary')
viz_train.show()

# Visualizing the Test set results
viz_test = plt
viz_test.scatter(X_test, y_test, color='red')
viz_test.plot(X_train, regressor.predict(X_train), color='blue')
viz_test.title('Salary VS Experience (Test set)')
viz_test.xlabel('Year of Experience')
viz_test.ylabel('Salary')
viz_test.show()