# Real state data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
data=pd.read_csv("Real estate.csv")

In [2]:
data.isnull().sum()

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [3]:
data.dtypes

No                                          int64
X1 transaction date                       float64
X2 house age                              float64
X3 distance to the nearest MRT station    float64
X4 number of convenience stores           float64
X5 latitude                               float64
X6 longitude                              float64
Y house price of unit area                float64
dtype: object

In [4]:
data.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.92,32.0,84.88,10.0,24.98,121.54,37.9
1,2,2012.92,19.5,306.59,9.0,24.98,121.54,42.2
2,3,2013.58,13.3,561.98,5.0,24.99,121.54,47.3
3,4,2013.50,13.3,561.98,5.0,24.99,121.54,54.8
4,5,2012.83,5.0,390.57,5.0,24.98,121.54,43.1

In [27]:
X=data[['X5 latitude','X6 longitude']]

y=data["Y house price of unit area"]



# X=data.iloc[:,2].values.reshape(-1,1)
# y=data.iloc[:,7].values.reshape(-1,1)

In [30]:
# Training data
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size=1/5 , random_state=0)
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train , y_train)
prediction=model.predict([[32,175]])
prediction

C:\Users\Arslan\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([18897.70085272])

In [31]:
from sklearn.metrics import accuracy_score
score = model.score(X_test , y_test)
score

0.4501887690705082