### ___Decision tree classifer___
- Split data due to entropy gain(Information gain)
- Slight change in data can change the whole tree means all if else statements will change gini-index and entropy will also change
- If Training data changes then the chances of changes in the decision tree will increase.
- Decision tree predicts the value in 0 and 1 in binary numbers.

In [51]:
# import libraries
import pandas as pd
df=pd.read_csv("ML Data 2.csv")
df.head()

   age  weight  height gender likeness
0   27      76     171   Male  Biryani
1   41      70     165   Male  Biryani
2   29      80     171   Male  Biryani
3   27     102     173   Male  Biryani
4   29      67     164   Male  Biryani

>  # Replacing gender with dummies

In [52]:
df['gender'] = df['gender'].replace("Male", 1)
df['gender'] = df['gender'].replace("Female", 0)
df.head()

   age  weight  height  gender likeness
0   27      76     171     1.0  Biryani
1   41      70     165     1.0  Biryani
2   29      80     171     1.0  Biryani
3   27     102     173     1.0  Biryani
4   29      67     164     1.0  Biryani

> # Our data was not cleaned that why i did it

In [53]:
df.dropna(subset=['gender'],how='any',inplace=True)

In [54]:
df.dtypes

age           int64
weight        int64
height        int64
gender      float64
likeness     object
dtype: object

In [55]:
df['gender']=df['gender'].astype("int64")
df.dtypes

age          int64
weight       int64
height       int64
gender       int64
likeness    object
dtype: object

> # Selection of input and output variables

In [56]:
X=df[["weight","gender"]]
y=df['likeness']

In [57]:
X.head()
# y.head()

   weight  gender
0      76       1
1      70       1
2      80       1
3     102       1
4      67       1

> # Machine learning algorithim

In [58]:
# import libraries
from sklearn.tree import DecisionTreeClassifier
# create and fit model
model = DecisionTreeClassifier().fit(X,y)
# Prediction 
model.predict([[88,0]])

C:\Users\Arslan\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Samosa'], dtype=object)

> # How to measure accuracy
- Method we will use will be split data into test and train

In [59]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score 
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size=1/5) # 80% training data and 20% testing data

# create a model
model = DecisionTreeClassifier()
# fitting the model
model.fit(X_train,y_train)

predicted_values = model.predict(X_test)
predicted_values
# y_test is our actual values
score=accuracy_score(y_test , predicted_values)
score # Means our model is 55% accurate and if we will run it again and again score will change bcz model is taking data
        #randomly

0.5714285714285714

> # How to train and save your model

In [60]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

In [61]:
model = DecisionTreeClassifier().fit(X , y)
joblib.dump(model , "foodie_1.joblib")

['foodie_1.joblib']

> # How to run/import a saved model on our data?

In [62]:
lm=joblib.load('foodie_1.joblib')

In [63]:
lm.predict([[99,1]])

C:\Users\Arslan\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

> # Graph

In [64]:
from sklearn import tree
model = DecisionTreeClassifier().fit(X , y)
# Graphic evaluation or look into what happened

tree.export_graphviz(model, out_file="foodie_1.dot",
                    feature_names=['age','gender'],
                    class_names=sorted(y.unique()),
                    label='all', rounded=True ,
                    filled=True)