# __Naive Bayes__
- Classification model
- Probability of a tossed coin
- ### __Application__
- 1-Face recognition (nose , mouth , eyes , face features , classify)
- 2-Weather prediction (Godd or bad , sunny , hot)
- 3- Medical dignoses (Risk of disease after dignoses)
- 4- New classification
  - Google uses (political news , weather news , world news , regional news) (Text minning)
- It works on both numberic and disctere(categorical) dataset

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Loading dataset
import seaborn as sns
phool = sns.load_dataset("iris")
phool.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
# Input and output
X = phool.iloc[: , :-1] # features(Input) means sepal length to petal width all data
y = phool.iloc[: , -1:] # labels(Output) means species data

In [4]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [5]:
y.head()

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

In [6]:
# Training and fitting data
from sklearn.naive_bayes import GaussianNB # GaussianNB assignment (simply ye naive bayes ki aik example ya type hai)
model = GaussianNB().fit(X , y)
model

C:\Users\Arslan\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [7]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size=1/5 , random_state=0)

In [9]:
from sklearn.naive_bayes import GaussianNB # GaussianNB assignment (simply ye naive bayes ki aik example ya type hai)
model = GaussianNB().fit(X_train , y_train)
y_pred = model.predict(X_test)
y_pred

C:\Users\Arslan\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array(['virginica', 'versicolor', 'setosa', 'virginica', 'setosa',
       'virginica', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'setosa', 'versicolor', 'versicolor', 'setosa',
       'setosa', 'virginica', 'versicolor', 'setosa', 'setosa',
       'virginica', 'setosa', 'setosa', 'versicolor', 'versicolor',
       'setosa'], dtype='<U10')

In [10]:
from sklearn.metrics import accuracy_score
score = accuracy_score (y_test , y_pred)
score

0.9666666666666667

In [ ]:
# confusion metrices