# Pandas Tutorial Day(11)
- This cell explains all the types of data manipuation and also how to clean data and uses of using pandas libraray.

> ___Installing ibraries___

In [3]:
# pip install pandas

> ___Importing libraries___

In [4]:
import numpy as np
import pandas as pd

> ___Creating an object___

In [5]:
s=pd.Series([1,2,3, np.nan ,4,5])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

> ___Importing dates data___

In [6]:
dates=pd.date_range("20220101" , periods=11) #For 6 days
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11'],
              dtype='datetime64[ns]', freq='D')

> ___Generating data___

In [7]:
dates=pd.date_range("20220101" , periods=11) #For 6 days
dates
df=pd.DataFrame(np.random.rand(11,4), index=dates, columns=list("ABCD")) #rand(11,4) means 11 rows and 4 colunms
df

                   A         B         C         D
2022-01-01  0.543837  0.214695  0.635271  0.254398
2022-01-02  0.112449  0.228647  0.324365  0.500440
2022-01-03  0.744592  0.700449  0.904791  0.842435
2022-01-04  0.017824  0.144852  0.190568  0.098712
2022-01-05  0.414791  0.756275  0.299679  0.914627
2022-01-06  0.220581  0.221533  0.430868  0.814824
2022-01-07  0.744176  0.411037  0.158896  0.581272
2022-01-08  0.694966  0.109148  0.348117  0.863556
2022-01-09  0.794057  0.378843  0.007817  0.427117
2022-01-10  0.829800  0.900237  0.047188  0.610605
2022-01-11  0.167201  0.407745  0.815805  0.399428

___Type of data___

In [8]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

___Head to see limited data from above___

In [9]:
df.head(2)

                   A         B         C         D
2022-01-01  0.543837  0.214695  0.635271  0.254398
2022-01-02  0.112449  0.228647  0.324365  0.500440

___Tail to see limited data from down___

In [10]:
df.tail(2)

                   A         B         C         D
2022-01-10  0.829800  0.900237  0.047188  0.610605
2022-01-11  0.167201  0.407745  0.815805  0.399428

___To see indexes of data___

In [11]:
df.index

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11'],
              dtype='datetime64[ns]', freq='D')

___To convet data into numpy___

In [12]:
df.to_numpy

<bound method DataFrame.to_numpy of                    A         B         C         D
2022-01-01  0.543837  0.214695  0.635271  0.254398
2022-01-02  0.112449  0.228647  0.324365  0.500440
2022-01-03  0.744592  0.700449  0.904791  0.842435
2022-01-04  0.017824  0.144852  0.190568  0.098712
2022-01-05  0.414791  0.756275  0.299679  0.914627
2022-01-06  0.220581  0.221533  0.430868  0.814824
2022-01-07  0.744176  0.411037  0.158896  0.581272
2022-01-08  0.694966  0.109148  0.348117  0.863556
2022-01-09  0.794057  0.378843  0.007817  0.427117
2022-01-10  0.829800  0.900237  0.047188  0.610605
2022-01-11  0.167201  0.407745  0.815805  0.399428>

___Description of all data like mean median etc___

In [13]:
df.describe()

               A          B          C          D
count  11.000000  11.000000  11.000000  11.000000
mean    0.480388   0.406678   0.378488   0.573401
std     0.304823   0.266987   0.296256   0.267734
min     0.017824   0.109148   0.007817   0.098712
25%     0.193891   0.218114   0.174732   0.413272
50%     0.543837   0.378843   0.324365   0.581272
75%     0.744384   0.555743   0.533069   0.828629
max     0.829800   0.900237   0.904791   0.914627

___Taking traspose of whole data___

In [14]:
df.T

,2022-01-01,2022-01-02,2022-01-03,2022-01-04,2022-01-05,2022-01-06,2022-01-07,2022-01-08,2022-01-09,2022-01-10,2022-01-11
A,0.543837,0.112449,0.744592,0.017824,0.414791,0.220581,0.744176,0.694966,0.794057,0.829800,0.167201
B,0.214695,0.228647,0.700449,0.144852,0.756275,0.221533,0.411037,0.109148,0.378843,0.900237,0.407745
C,0.635271,0.324365,0.904791,0.190568,0.299679,0.430868,0.158896,0.348117,0.007817,0.047188,0.815805
D,0.254398,0.500440,0.842435,0.098712,0.914627,0.814824,0.581272,0.863556,0.427117,0.610605,0.399428

___Sorting data of a specific column___

In [15]:
df.sort_values(by="B")

                   A         B         C         D
2022-01-08  0.694966  0.109148  0.348117  0.863556
2022-01-04  0.017824  0.144852  0.190568  0.098712
2022-01-01  0.543837  0.214695  0.635271  0.254398
2022-01-06  0.220581  0.221533  0.430868  0.814824
2022-01-02  0.112449  0.228647  0.324365  0.500440
2022-01-09  0.794057  0.378843  0.007817  0.427117
2022-01-11  0.167201  0.407745  0.815805  0.399428
2022-01-07  0.744176  0.411037  0.158896  0.581272
2022-01-03  0.744592  0.700449  0.904791  0.842435
2022-01-05  0.414791  0.756275  0.299679  0.914627
2022-01-10  0.829800  0.900237  0.047188  0.610605

___Data of a specific column___

In [16]:
df["A"]

2022-01-01    0.543837
2022-01-02    0.112449
2022-01-03    0.744592
2022-01-04    0.017824
2022-01-05    0.414791
2022-01-06    0.220581
2022-01-07    0.744176
2022-01-08    0.694966
2022-01-09    0.794057
2022-01-10    0.829800
2022-01-11    0.167201
Freq: D, Name: A, dtype: float64

___Slicing___

In [17]:
df[0:11]

                   A         B         C         D
2022-01-01  0.543837  0.214695  0.635271  0.254398
2022-01-02  0.112449  0.228647  0.324365  0.500440
2022-01-03  0.744592  0.700449  0.904791  0.842435
2022-01-04  0.017824  0.144852  0.190568  0.098712
2022-01-05  0.414791  0.756275  0.299679  0.914627
2022-01-06  0.220581  0.221533  0.430868  0.814824
2022-01-07  0.744176  0.411037  0.158896  0.581272
2022-01-08  0.694966  0.109148  0.348117  0.863556
2022-01-09  0.794057  0.378843  0.007817  0.427117
2022-01-10  0.829800  0.900237  0.047188  0.610605
2022-01-11  0.167201  0.407745  0.815805  0.399428

___Data of all rows and 2 columns___

In [18]:
df.loc[: , ["A","B"]]

                   A         B
2022-01-01  0.543837  0.214695
2022-01-02  0.112449  0.228647
2022-01-03  0.744592  0.700449
2022-01-04  0.017824  0.144852
2022-01-05  0.414791  0.756275
2022-01-06  0.220581  0.221533
2022-01-07  0.744176  0.411037
2022-01-08  0.694966  0.109148
2022-01-09  0.794057  0.378843
2022-01-10  0.829800  0.900237
2022-01-11  0.167201  0.407745

___Data of specific dates and two columns___

In [19]:
df.loc["20220101":"20220104",["A","B"]]

                   A         B
2022-01-01  0.543837  0.214695
2022-01-02  0.112449  0.228647
2022-01-03  0.744592  0.700449
2022-01-04  0.017824  0.144852

In [20]:
df.loc["20220107",["A","B","C"]]

A    0.744176
B    0.411037
C    0.158896
Name: 2022-01-07 00:00:00, dtype: float64

___Data of specific cell at specific date___

In [21]:
df.at[dates[10],"A"]

0.16720100590196774

___Data o

___Data of column A greter than 0.2___

In [25]:
df[df["A"]>0.2]
df

                   A         B         C         D      E
2022-01-01  0.543837  0.214695  0.635271  0.254398    One
2022-01-02  0.112449  0.228647  0.324365  0.500440    Two
2022-01-03  0.744592  0.700449  0.904791  0.842435  Three
2022-01-04  0.017824  0.144852  0.190568  0.098712    One
2022-01-05  0.414791  0.756275  0.299679  0.914627    Two
2022-01-06  0.220581  0.221533  0.430868  0.814824  Three
2022-01-07  0.744176  0.411037  0.158896  0.581272    One
2022-01-08  0.694966  0.109148  0.348117  0.863556    Two
2022-01-09  0.794057  0.378843  0.007817  0.427117  Three
2022-01-10  0.829800  0.900237  0.047188  0.610605    Two
2022-01-11  0.167201  0.407745  0.815805  0.399428  Three

___Adding a new column in data___

In [23]:
df["E"]=["One","Two","Three","One","Two","Three","One","Two","Three","Two","Three"]
df

                   A         B         C         D      E
2022-01-01  0.543837  0.214695  0.635271  0.254398    One
2022-01-02  0.112449  0.228647  0.324365  0.500440    Two
2022-01-03  0.744592  0.700449  0.904791  0.842435  Three
2022-01-04  0.017824  0.144852  0.190568  0.098712    One
2022-01-05  0.414791  0.756275  0.299679  0.914627    Two
2022-01-06  0.220581  0.221533  0.430868  0.814824  Three
2022-01-07  0.744176  0.411037  0.158896  0.581272    One
2022-01-08  0.694966  0.109148  0.348117  0.863556    Two
2022-01-09  0.794057  0.378843  0.007817  0.427117  Three
2022-01-10  0.829800  0.900237  0.047188  0.610605    Two
2022-01-11  0.167201  0.407745  0.815805  0.399428  Three

___Adding a new column in data___

In [26]:
df["F"]=[1,2,3,4,5,6,7,8,9,10,11]
df

                   A         B         C         D      E   F
2022-01-01  0.543837  0.214695  0.635271  0.254398    One   1
2022-01-02  0.112449  0.228647  0.324365  0.500440    Two   2
2022-01-03  0.744592  0.700449  0.904791  0.842435  Three   3
2022-01-04  0.017824  0.144852  0.190568  0.098712    One   4
2022-01-05  0.414791  0.756275  0.299679  0.914627    Two   5
2022-01-06  0.220581  0.221533  0.430868  0.814824  Three   6
2022-01-07  0.744176  0.411037  0.158896  0.581272    One   7
2022-01-08  0.694966  0.109148  0.348117  0.863556    Two   8
2022-01-09  0.794057  0.378843  0.007817  0.427117  Three   9
2022-01-10  0.829800  0.900237  0.047188  0.610605    Two  10
2022-01-11  0.167201  0.407745  0.815805  0.399428  Three  11